.cards--grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, max-content));
  grid-column-gap: 100px;
  grid-row-gap: 3em;
  justify-content: center;
}
.cards__wrapper {
  width: 100%;
  padding: 2em;
  overflow: auto;
}
